<style>
    #xs_leftToolBarC .panel-header{
        height: 25px;
        border: 1px solid #00bbee;
    }
    #xs_leftToolBarC .panel-title{
        height: 25px;
        line-height: 25px;
        color: #ffffff;
        font-size: 13px;
        font-weight: bold;
    }
</style>
<div id="xs_l_toolist" style="background: transparent; width: 100%; height: 100%;">
    <div href="#" onclick="XS.Main.Pkjc.pkdc();" class="easyui-linkbutton" data-options="iconCls:'icon-main_pkdc',iconAlign:'top',size:'large'" style="display: block; border-radius: 5px;">贫困洞察</div>
    <div href="#" class="easyui-linkbutton" data-options="iconCls:'icon-main_sjcl',iconAlign:'top',size:'large'" style="display: block; border-radius: 3px; margin: 5px auto">数据处理</div>
    <div href="#" onclick="XS.Main.Tjfx.showToolMenu();" class="easyui-linkbutton" data-options="iconCls:'icon-main_tjfx',iconAlign:'top',size:'large'" style="display: block; border-radius: 3px; margin-bottom: 5px;">统计分析</div>
    <div href="#" class="easyui-linkbutton" data-options="iconCls:'icon-main_gtzz',iconAlign:'top',size:'large'" style="display: block; border-radius: 3px;">挂图作战</div>
</div>